
@font-face {
    font-family: 'sillkscreen';
    src: url('slkscr.ttf');
}

*{
  font-family: 'sillkscreen';
}

.player {
     display: inline-block;
     position: absolute;
}

#p1{
  color: white;
  text-align: right;
  font-size:50px;

}

#p2{
  color: white;
  text-align: right;
  font-size:50px;
  left: 1400px;
}


  body {

    background-color: black;

  }
